/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import * as z from "zod/v4-mini";
import { YouCore } from "../core.js";
import { encodeJSON } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import * as errors from "../models/errors/index.js";
import { ResponseValidationError } from "../models/errors/responsevalidationerror.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { YouError } from "../models/errors/youerror.js";
import { AgentsRunsServerList } from "../models/operations/agentsruns.js";
import * as operations from "../models/operations/index.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Run an Agent
 *
 * @remarks
 * Execute queries using You.com's AI agents. This endpoint supports three agent types:
 *
 * - **Express Agent**: Fast responses with optional web search (max 1 search)
 * - **Advanced Agent**: Complex queries with multi-turn reasoning, planning, and tool usage
 * - **Custom Agent**: User-configured assistants created in the You.com UI
 *
 * The response format depends on the `stream` parameter - either a complete JSON payload or Server-Sent Events (SSE).
 */
export function agentsRuns(
  client: YouCore,
  request: operations.AgentsRunsRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    operations.AgentsRunsResponse,
    | errors.AgentRuns400ResponseError
    | errors.AgentRuns401ResponseError
    | errors.AgentRuns422ResponseError
    | YouError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >
> {
  return new APIPromise($do(
    client,
    request,
    options,
  ));
}

async function $do(
  client: YouCore,
  request: operations.AgentsRunsRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      operations.AgentsRunsResponse,
      | errors.AgentRuns400ResponseError
      | errors.AgentRuns401ResponseError
      | errors.AgentRuns422ResponseError
      | YouError
      | ResponseValidationError
      | ConnectionError
      | RequestAbortedError
      | RequestTimeoutError
      | InvalidRequestError
      | UnexpectedClientError
      | SDKValidationError
    >,
    APICall,
  ]
> {
  const parsed = safeParse(
    request,
    (value) => z.parse(operations.AgentsRunsRequest$outboundSchema, value),
    "Input validation failed",
  );
  if (!parsed.ok) {
    return [parsed, { status: "invalid" }];
  }
  const payload = parsed.value;
  const body = encodeJSON("body", payload, { explode: true });

  const baseURL = options?.serverURL
    || pathToFunc(AgentsRunsServerList[0], { charEncoding: "percent" })();

  const path = pathToFunc("/v1/agents/runs")();

  const headers = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json;q=1, text/event-stream;q=0",
  }));

  const secConfig = await extractSecurity(client._options.apiKeyAuth);
  const securityInput = secConfig == null ? {} : { apiKeyAuth: secConfig };
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client._options,
    baseURL: baseURL ?? "",
    operationID: "AgentsRuns",
    oAuth2Scopes: null,

    resolvedSecurity: requestSecurity,

    securitySource: client._options.apiKeyAuth,
    retryConfig: options?.retries
      || client._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || ["429", "500", "502", "503", "504"],
  };

  const requestRes = client._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: baseURL,
    path: path,
    headers: headers,
    body: body,
    userAgent: client._options.userAgent,
    timeoutMs: options?.timeoutMs || client._options.timeoutMs || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req = requestRes.value;

  const doResult = await client._do(req, {
    context,
    errorCodes: ["400", "401", "422", "4XX", "5XX"],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req }];
  }
  const response = doResult.value;

  const responseFields = {
    HttpMeta: { Response: response, Request: req },
  };

  const [result] = await M.match<
    operations.AgentsRunsResponse,
    | errors.AgentRuns400ResponseError
    | errors.AgentRuns401ResponseError
    | errors.AgentRuns422ResponseError
    | YouError
    | ResponseValidationError
    | ConnectionError
    | RequestAbortedError
    | RequestTimeoutError
    | InvalidRequestError
    | UnexpectedClientError
    | SDKValidationError
  >(
    M.json(200, operations.AgentsRunsResponse$inboundSchema),
    M.sse(200, operations.AgentsRunsResponse$inboundSchema),
    M.jsonErr(400, errors.AgentRuns400ResponseError$inboundSchema),
    M.jsonErr(401, errors.AgentRuns401ResponseError$inboundSchema),
    M.jsonErr(422, errors.AgentRuns422ResponseError$inboundSchema),
    M.fail("4XX"),
    M.fail("5XX"),
  )(response, req, { extraFields: responseFields });
  if (!result.ok) {
    return [result, { status: "complete", request: req, response }];
  }

  return [result, { status: "complete", request: req, response }];
}
