openapi: 3.1.0
info:
  title: You.com API
  description: |-
    Unified API for Express, Advanced, and Custom Agents from You.com
    Get the best search results from web and news sources
    Returns the HTML or Markdown of a target webpage
    Multi-step reasoning with comprehensive research capabilities
    Comprehensive API for You.com services:
    - **Agents API**: Execute queries using Express, Advanced, and Custom AI agents
    - **Search API**: Get search results from web and news sources
    - **Contents API**: Retrieve and process web page content
  version: 1.0.0
servers:
  - url: https://api.you.com
    x-fern-server-name: Production
paths:
  /v1/agents/runs:
    post:
      operationId: AgentsRuns
      security:
        - ApiKeyAuth: []
      summary: Run an Agent
      description: |
        Execute queries using You.com's AI agents. This endpoint supports three agent types:

        - **Express Agent**: Fast responses with optional web search (max 1 search)
        - **Advanced Agent**: Complex queries with multi-turn reasoning, planning, and tool usage
        - **Custom Agent**: User-configured assistants created in the You.com UI

        The response format depends on the `stream` parameter - either a complete JSON payload or Server-Sent Events (SSE).
      requestBody:
        description: "The parameters to ask the agent a question"
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ExpressAgentRunsRequest"
                - $ref: "#/components/schemas/AdvancedAgentRunsRequest"
                - $ref: "#/components/schemas/CustomAgentRunsRequest"
            examples:
              express_batch:
                summary: Express Agent - Batch Response
                value:
                  agent: express
                  input: "What is the capital of France?"
                  stream: false
              express_stream:
                summary: Express Agent - Streaming Response
                value:
                  agent: express
                  input: "What are some great recipes I can make in under half an hour"
                  stream: true
                  tools:
                    - type: web_search
              advanced_batch:
                summary: Advanced Agent - Batch Response
                value:
                  agent: advanced
                  input: "You are a biologist studying the impacts of microplastics. Explain what microplastics are to a group of engineers, explain the impacts of microplastics on the body, and what the common sources and dosages of microplastics are. Highlight what a safe dosage might be and how to achieve it"
                  stream: false
                  tools:
                    - type: research
                      search_effort: auto
                      report_verbosity: medium
              advanced_stream:
                summary: Advanced Agent - Streaming Response
                value:
                  agent: advanced
                  input: "Analyze the economic impact of renewable energy adoption"
                  stream: true
                  tools:
                    - type: compute
              custom_batch:
                summary: Custom Agent - Batch Response
                value:
                  agent: "63773261-b4de-4d8f-9dfd-cff206a5cb51"
                  input: "What is the capital of France?"
                  stream: false
              custom_stream:
                summary: Custom Agent - Streaming Response
                value:
                  agent: "63773261-b4de-4d8f-9dfd-cff206a5cb51"
                  input: "Tell me about the history of Paris"
                  stream: true
      responses:
        "200":
          description: |
            Successful agent response. The content type depends on the `stream` parameter:
            - When `stream: false` - Returns complete JSON response (`application/json`)
            - When `stream: true` - Returns Server-Sent Events stream (`text/event-stream`)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRunsBatchResponse"
            text/event-stream:
              schema:
                $ref: "#/components/schemas/AgentRunsStreamingResponse"
        "400":
          description: The Authorization Bearer token was missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRuns400Response"
        "401":
          description: Unauthorized - Invalid or expired API key
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRuns401Response"
        "422":
          description: Unprocessable Entity - Invalid request data
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AgentRuns422Response"
  /v1/search:
    get:
      operationId: search
      summary: Returns a list of unified search results from web and news sources
      description: This endpoint is designed to return LLM-ready web results based on a user's query. Based on a classification mechanism, it can return web results and news associated with your query. If you need to feed an LLM with the results of a query that sounds like `What are the latest geopolitical updates from India`, then this endpoint is the right one for you.
      security:
        - ApiKeyAuth: []
      parameters:
        - name: query
          in: query
          description: The search query used to retrieve relevant results from the web. You can also include [search operators](https://docs.you.com/search/search-operators) to refine your search.
          required: true
          schema:
            type: string
            default: "Your query"
          example: "Your query"
        - name: count
          in: query
          description: Specifies the maximum number of search results to return per section (the sections are `web` and `news`. See the JSON response to visualize them).
          required: false
          schema:
            type: integer
            maximum: 100
            minimum: 1
            default: 10
        - name: freshness
          in: query
          description: |-
            Specifies the freshness of the results to return. Provide either one of `day`, `week`, `month`, `year`, or a date range string in the format `YYYY-MM-DDtoYYYY-MM-DD`.

            When your search query includes a temporal keyword and you also set a freshness parameter, the search will use the broader (i.e., less restrictive) of the two timeframes. For example, if you use `query=news+this+week&freshness=month`, the results will use a freshness of month.
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/Freshness'
              - type: string
        - name: offset
          in: query
          description: Indicates the `offset` for pagination. The `offset` is calculated in multiples of `count`. For example, if `count = 5` and `offset = 1`, results 5–10 will be returned. Range `0 ≤ offset ≤ 9`.
          required: false
          schema:
            type: integer
        - name: country
          in: query
          description: The country code that determines the geographical focus of the web results.
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/Country'
              - type: string
        - name: language
          in: query
          description: The language of the web results that will be returned (BCP 47 format).
          required: false
          schema:
            $ref: '#/components/schemas/Language'
        - name: safesearch
          in: query
          description: Configures the safesearch filter for content moderation. This allows you to decide whether to return NSFW content or not.
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/SafeSearch'
              - type: string
        - name: livecrawl
          in: query
          description: Indicates which section(s) of search results to livecrawl and return full page content.
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/LiveCrawl'
              - type: string
        - name: livecrawl_formats
          in: query
          description: Indicates the format of the livecrawled content.
          required: false
          schema:
            oneOf:
              - $ref: '#/components/schemas/LiveCrawlFormats'
              - type: string
      responses:
        "200":
          description: A JSON object containing unified search results from web and news sources
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: object
                    properties:
                      web:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              description: The URL of the specific search result.
                              example: "https://you.com"
                            title:
                              type: string
                              description: The title or name of the search result.
                              example: "The World's Greatest Search Engine!"
                            description:
                              type: string
                              description: A brief description of the content of the search result.
                              example: "Search on YDC"
                            snippets:
                              type: array
                              items:
                                type: string
                                example: "I'm an AI assistant that helps you get more done. What can I help you with?"
                              description: An array of text snippets from the search result, providing a preview of the content.
                            thumbnail_url:
                              type: string
                              description: URL of the thumbnail.
                              example: "https://www.somethumbnailsite.com/thumbnail.jpg"
                            page_age:
                              type: string
                              format: date-time
                              description: The age of the search result.
                              example: "2025-06-25T11:41:00"
                            contents:
                              $ref: '#/components/schemas/Contents'
                            authors:
                              type: array
                              items:
                                type: string
                                example: "John Doe"
                              description: An array of authors of the search result.
                            favicon_url:
                              type: string
                              description: The URL of the favicon of the search result's domain.
                              example: "https://someurl.com/favicon"
                      news:
                        type: array
                        items:
                          type: object
                          properties:
                            title:
                              type: string
                              description: The title of the news result.
                              example: "Exclusive | You.com becomes the backbone of the EU's AI strategy"
                            description:
                              type: string
                              description: A brief description of the content of the news result.
                              example: "As the EU's AI strategy is being debated, You.com becomes the backbone of the EU's AI strategy."
                            page_age:
                              type: string
                              format: date-time
                              description: UTC timestamp of the article's publication date.
                              example: "2025-06-25T11:41:00"
                            thumbnail_url:
                              type: string
                              description: URL of the thumbnail.
                              example: "https://www.somethumbnailsite.com/thumbnail.jpg"
                            url:
                              type: string
                              description: The URL of the news result.
                              example: "https://www.you.com/news/eu-ai-strategy-youcom"
                            contents:
                              $ref: '#/components/schemas/Contents'
                  metadata:
                    type: object
                    properties:
                      search_uuid:
                        type: string
                        format: uuid
                        example: "942ccbdd-7705-4d9c-9d37-4ef386658e90"
                      query:
                        type: string
                        description: Returns the search query used to retrieve the results.
                        example: "Your query"
                      latency:
                        type: number
                        example: 0.123
        "401":
          description: Unauthorized. Problems with API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail message.
              examples:
                missingApiKey:
                  summary: Missing API key
                  value:
                    detail: "API key is required"
                invalidOrExpired:
                  summary: Invalid/expired API key
                  value:
                    detail: "Invalid or expired API key"
                otherAuthParsing:
                  summary: Other auth parsing errors
                  value:
                    detail: "<error message>"
        "403":
          description: Forbidden. API key lacks scope for this path.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                missingScopes:
                  summary: Missing required scopes
                  value:
                    detail: "Missing required scopes"
        "500":
          description: Internal Server Error during authentication/authorization middleware.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                authFailure:
                  summary: Authentication failure
                  value:
                    detail: "Internal authentication error"
                authorizationFailure:
                  summary: Authorization failure
                  value:
                    detail: "Internal authorization error"
    servers:
      - url: https://ydc-index.io
  /v1/contents:
    post:
      operationId: contents
      summary: Returns the content of the web pages
      description: Returns the HTML or Markdown of a target webpage.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                urls:
                  type: array
                  items:
                    type: string
                    format: uri
                    example: "https://www.you.com"
                  description: Array of URLs to fetch the contents from.
                formats:
                  $ref: '#/components/schemas/ContentsFormats'
                crawl_timeout:
                  type: integer
                  maximum: 60
                  minimum: 1
                  description: Maximum time in seconds to wait for page content. Must be between 1 and 60 seconds. Default is 10 seconds.
                  default: 10
                  example: 10
        required: true
      responses:
        "200":
          description: An array of JSON objects containing the page content of each web page
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    url:
                      type: string
                      format: uri
                      description: The webpage URL whose content has been fetched.
                      example: "https://www.you.com"
                    title:
                      type: string
                      description: The title of the web page.
                      example: "The best website in the world"
                    html:
                      type: string
                      description: The retrieved HTML content of the web page.
                      nullable: true
                    markdown:
                      type: string
                      description: The retrieved Markdown content of the web page.
                      nullable: true
                    metadata:
                      $ref: '#/components/schemas/ContentsMetadata'
        "401":
          description: Unauthorized. Problems with API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail message.
              examples:
                missingApiKey:
                  summary: Missing API key
                  value:
                    detail: "API key is required"
                invalidOrExpired:
                  summary: Invalid/expired API key
                  value:
                    detail: "Invalid or expired API key"
                otherAuthParsing:
                  summary: Other auth parsing errors
                  value:
                    detail: "<error message>"
        "403":
          description: Forbidden. API key lacks scope for this path.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                missingScopes:
                  summary: Missing required scopes
                  value:
                    detail: "Missing required scopes"
        "500":
          description: Internal Server Error during authentication/authorization middleware.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                authFailure:
                  summary: Authentication failure
                  value:
                    detail: "Internal authentication error"
                authorizationFailure:
                  summary: Authorization failure
                  value:
                    detail: "Internal authorization error"
    servers:
      - url: https://ydc-index.io
  /v1/research:
    post:
      operationId: research
      summary: Returns comprehensive research-grade answers with multi-step reasoning
      description: Research goes beyond a single web search. In response to your question, it runs multiple searches, reads through the sources, and synthesizes everything into a thorough, well-cited answer. Use it when a question is too complex for a simple lookup, and when you need a response you can actually trust and verify.
      security:
        - ApiKeyAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  type: string
                  maxLength: 40000
                  description: |-
                    The research question or complex query requiring in-depth investigation and multi-step reasoning.

                    Note: The maximum length of the input is 40,000 characters.
                research_effort:
                  type: string
                  enum:
                    - lite
                    - standard
                    - deep
                    - exhaustive
                  description: |-
                    Controls how much time and effort the Research API spends on your question. Higher effort levels run more searches and dig deeper into sources, at the cost of a longer response time.

                    Available levels:
                    - `lite`: Returns answers quickly. Good for straightforward questions that just need a fast, reliable answer.
                    - `standard`: The default. Balances speed and depth, a good fit for most questions.
                    - `deep`: Spends more time researching and cross-referencing sources. Use this when accuracy and thoroughness matter more than speed.
                    - `exhaustive`: The most thorough option. Explores the topic as fully as possible, best suited for complex research tasks where you want the highest quality result.
                  default: standard
              required:
                - input
            example:
              input: Which global cities improved air quality the most over the past 10 years, and what measurable actions contributed?
              research_effort: lite
        required: true
      responses:
        "200":
          description: A JSON object containing a comprehensive answer with citations and supporting search results
          content:
            application/json:
              schema:
                type: object
                properties:
                  output:
                    type: object
                    properties:
                      content:
                        type: string
                        description: The comprehensive response with inline citations. The content is formatted in Markdown and includes numbered citations that reference the items in the sources array.
                      content_type:
                        type: string
                        enum:
                          - text
                        description: The format of the content field.
                      sources:
                        type: array
                        items:
                          type: object
                          properties:
                            url:
                              type: string
                              description: The URL of the source webpage.
                            title:
                              type: string
                              description: The title of the source webpage.
                            snippets:
                              type: array
                              items:
                                type: string
                              description: Relevant excerpts from the source page that were used in generating the answer.
                          required:
                            - url
                        description: A list of web sources used to generate the answer.
                    required:
                      - content
                      - content_type
                      - sources
                    description: The research output containing the answer and sources.
                required:
                  - output
              example:
                output:
                  content: |-
                    Over the past decade, some global cities have shown improvements in air quality due to specific actions. Beijing, for example, made significant strides in improving its air quality through coordinated control measures with surrounding areas, collaborative planning, unified standards, joint emergency responses, and information sharing [[1]]. These efforts, including a five-year action plan for air pollution prevention and control, have helped to substantially improve air quality in the Jing-Jin-Ji region [[2]].

                    Paris has also seen improvements, with a 50% reduction in Nitrogen dioxide pollution and a 55% decrease in particulate matter citywide since 2005. This was achieved through its climate strategy, which included adding more bike lanes and increasing cycling networks [[3]]. Wellington, New Zealand, improved air quality in one of its busiest districts by increasing the percentage of electric buses from 5% to over 50% between 2022 and 2023, leading to a 50% reduction in black carbon and a 29% drop in nitrogen dioxide levels [[3]]. Mexico City, once known as the world's most polluted city in the early 1990s, has vastly improved its air quality, with the daily concentration of SO2 declining significantly by 2018 [[2]].

                    While many cities globally have experienced persistently high or even rising levels of air pollution, especially concerning PM2.5 concentrations, NO2 exposures have shown an encouraging trend, with 211 more cities meeting the WHO guideline in 2019 compared to 2010 [[4]]. Local policies have been instrumental in these improvements [[4]].
                  content_type: text
                  sources:
                    - url: https://sustainablemobility.iclei.org/air-pollution-beijing/
                      title: "Clearing the skies: how Beijing tackled air pollution & what lies ..."
                      snippets:
                        - >-
                          However, Beijing has made remarkable strides in recent years to improve its air quality, setting an example for other cities grappling with similar challenges. The root causes Comparing the past 20 years of its development to the 20 before, Beijing's GDP, population, and vehicles sharply increased by 1078%, 74%, and 335% respectively (UNEP, 2019).
                        - >-
                          The city actively coordinated air pollution control measures with surrounding areas, such as the Beijing-Tianjin-Hebei region. Collaborative planning, unified standards, joint emergency responses, and information sharing significantly improved the air quality in this broader region.
                        - >-
                          While Beijing has made significant strides, challenges remain. The average PM2.5 level is still six times higher than the World Health Organization's (WHO) guideline, and the 2021-22 improvement may be partially attributed to measures taken for the Winter Olympics.
                        - >-
                          As China emerged as the world's largest automobile producer and consumer, it grappled with the detrimental impacts of increased oil consumption. Furthermore, the high level of coal consumption, especially during the winter heating season, contributed to the city's deteriorating air quality, reaching an average of 101.56 micrograms of PM2.5 particles per cubic meter in 2013 (Statista, 2023).
                    - url: https://blogs.worldbank.org/en/voices/tackling-poor-air-quality-lessons-three-cities
                      title: "Tackling poor air quality: Lessons from three cities"
                      snippets:
                        - >-
                          The latest World Bank report, Clearing the Air: A Tale of Three Cities, chose Beijing, New Delhi and Mexico City to assess how current and past efforts improved air quality. In the early 1990s, Mexico City was known as the world's most polluted city and while there are still challenges, air quality has vastly improved. Daily concentration of SO2 – a contributor to PM2.5 concentrations – declined from 300 µg/m3 in the 1990s to less than 100 µg/m3 in 2018.
                        - >-
                          In China, the ministries of Environmental Protection (now the Ministry of Ecology and Environment), Industry and Information Technology, Finance, Housing and Rural Development, along with the National Development and Reform Commission and National Energy Administration, worked together to issue a five-year action plan for air pollution prevention and control for the entire Jing-Jin-Ji region that surrounds Beijing and includes the municipality of Beijing, municipality of Tianjin, the province of Hebei, and small parts of Henan, Shanxi, inner Mongolia, and Shandong. What's encouraging about this new work is that it shows that with the right policies, incentives and information, air quality can be improved substantially, particularly as countries work to grow back cleaner after the pandemic.
                        - >-
                          Failure to provide such incentives in India in the late 1990s resulted in the government developing plans but not implementing them. This led to India's Supreme Court stepping in to force the government to implement policy measures. A recent government of India program to provide performance-based grants to cities to reward improvements in air quality is a step in the right direction.
                        - >-
                          The cost associated with health impacts of outdoor PM2.5 air pollution is estimated to be US$5.7 trillion, equivalent to 4.8 percent of global GDP, according to World Bank research. The COVID-19 pandemic further highlights why addressing air pollution is so important, with early research pointing to links between air pollution, illness and death due to the virus. On the flip side, the economic lockdowns caused by the pandemic, while devastating for communities, did result in some noticeable improvements in air quality but these improvements were inconsistent, particularly when it came to PM2.5.
                    - url: https://www.weforum.org/stories/2025/06/urban-mobility-improving-cities-air-quality/
                      title: "Boosting clean air strategies in cities around the world | World ..."
                      snippets:
                        - >-
                          Comprehensive cycling networks improve air quality while also transforming urban mobility. Paris has added more bike lanes to its cityscape in recent years. Between 2022 and 2023 alone, bike path usage doubled during rush hour and cyclists now outnumber cars on many of the city's streets. The results of Paris' growing cycling network are promising. Alongside other elements of Paris's climate strategy, cycling has contributed to a 50% reduction in Nitrogen dioxide pollution and 55% decrease in particulate matter citywide since 2005.
                        - >-
                          In 2025, the alliance and members of the Global New Mobility Coalition will launch a new workstream on Transport and Urbanism that aims to speed up cross-sector collaboration on implementing proven mobility options to improve air quality and drive sustainable growth.
                        - >-
                          Air pollution has been estimated to cause 4.2 million premature deaths worldwide per year, according to the World Health Organization, and nearly half of urban airborne contamination comes from city transport. While vehicles are essential to the vitality of cities, without the right policies in place, transport will continue to be a major contributor to harmful air pollution.
                        - >-
                          In Wellington, New Zealand, the percentage of electric buses travelling across the city's heavily trafficked Golden Mile corridor rose from 5% to over 50% between 2022 and 2023. This shift led to a 50% reduction in black carbon and a 29% drop in nitrogen dioxide levels throughout the district. This has significantly improved air quality in one of the busiest parts of Wellington, as well as lowering noise pollution.
                    - url: https://www.stateofglobalair.org/resources/health-in-cities
                      title: "Air Pollution and Health in Cities | State of Global Air"
                      snippets:
                        - >-
                          Globally, NO2 exposures are heading in an encouraging direction as 211 more cities met the WHO guideline of 10 µg/m3 in 2019 compared to 2010. However, NO2 pollution is worsening in some other regions. Percentage of cities by population-weighted annual average pollutant concentration in 2010 and 2019. However, interventions targeting pollution at the local scale have successfully improved air quality in some cities.
                        - >-
                          Local policies have improved air quality in some cities, while pollution has worsened in others. Overall, many cities have seen persistently high — and even rising — levels of air pollution over the past decade. PM2.5 exposures remained stagnant in many cities from 2010 to 2019.
                        - >-
                          Cities are often hotspots for poor air quality. As rapid urbanization increases the number of people breathing dangerously polluted air, city-level data can help inform targeted efforts to curb urban air pollution and improve public health.
                        - >-
                          Explore air quality and health data for your city using our new interactive app here. Most cities have polluted air, but the type of pollution varies from place to place. Local policies have improved air quality in some cities, while pollution has worsened in others.
        "422":
          description: Unprocessable Entity. Request validation failed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: array
                    items:
                      type: object
                      properties:
                        type:
                          type: string
                          description: The validation error type.
                          example: missing
                        loc:
                          type: array
                          items:
                            oneOf:
                              - type: string
                              - type: integer
                          description: The location of the error as a path of segments (strings for field names, integers for byte offsets).
                          example: ["body", "input"]
                        msg:
                          type: string
                          description: A human-readable description of the error.
                          example: Field required
                        input:
                          oneOf:
                            - type: string
                            - type: object
                          description: The input value that caused the error.
                        ctx:
                          type: object
                          additionalProperties: true
                          description: Additional context about the error.
                      required:
                        - type
                        - loc
                        - msg
                        - input
              examples:
                missingField:
                  summary: Required field missing
                  value:
                    detail:
                      - type: missing
                        loc: ["body", "input"]
                        msg: Field required
                        input: {}
                invalidEnum:
                  summary: Invalid enum value for research_effort
                  value:
                    detail:
                      - type: enum
                        loc: ["body", "research_effort"]
                        msg: "Input should be 'lite', 'standard', 'deep' or 'exhaustive'"
                        input: invalid_value
                        ctx:
                          expected: "'lite', 'standard', 'deep' or 'exhaustive'"
                stringTooLong:
                  summary: Input exceeds maximum length
                  value:
                    detail:
                      - type: string_too_long
                        loc: ["body", "input"]
                        msg: String should have at most 40000 characters
                        input: <truncated>
                        ctx:
                          max_length: 40000
                invalidJson:
                  summary: Invalid JSON body
                  value:
                    detail:
                      - type: json_invalid
                        loc: ["body", 115]
                        msg: JSON decode error
                        input: {}
                        ctx:
                          error: Invalid control character at
        "401":
          description: Unauthorized. Problems with API key.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
                    description: Error detail message.
              examples:
                missingApiKey:
                  summary: Missing API key
                  value:
                    detail: API key is required
                invalidOrExpired:
                  summary: Invalid/expired API key
                  value:
                    detail: Invalid or expired API key
                otherAuthParsing:
                  summary: Other auth parsing errors
                  value:
                    detail: <error message>
        "403":
          description: Forbidden. API key lacks scope for this path.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                missingScopes:
                  summary: Missing required scopes
                  value:
                    detail: Missing required scopes
        "500":
          description: Internal Server Error during authentication/authorization middleware.
          content:
            application/json:
              schema:
                type: object
                properties:
                  detail:
                    type: string
              examples:
                authFailure:
                  summary: Authentication failure
                  value:
                    detail: Internal authentication error
                authorizationFailure:
                  summary: Authorization failure
                  value:
                    detail: Internal authorization error
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: "A unique API Key is required to authorize API access. [Get your API Key with free credits](https://you.com/platform/api-keys)."
  schemas:
    # REQUEST SCHEMAS
    ExpressAgentRunsRequest:
      type: object
      required:
        - agent
        - input
      properties:
        agent:
          type: string
          const: express
          description: >-
            Setting this value to "express" is mandatory to use the express agent.
          example: express
        input:
          type: string
          description: "The question you'd like to ask the agent"
          example: "What are some great recipes I can make in under half an hour"
        stream:
          type: boolean
          default: false
          description: >-
            Must be set to `true` when you want to stream the express agent response as it's being generated, and `false` when you want the response to return after the agent has finished.
        tools:
          type: array
          description: You can optionally ground the express agent response using results fetched from the web (max 1 web search)
          items:
            $ref: "#/components/schemas/WebSearchTool"
    AdvancedAgentRunsRequest:
      type: object
      required:
        - agent
        - input
      properties:
        agent:
          type: string
          const: advanced
          description: >-
            Setting this value to "advanced" is mandatory to use the advanced agent.
          example: advanced
        input:
          type: string
          description: "The question you'd like to ask the agent"
          example: "Analyze the economic impact of renewable energy adoption"
        stream:
          type: boolean
          default: false
          description: >-
            Must be set to `true` when you want to stream the agent response as it's being generated, and `false` when you want the response to return after the agent has finished.
        tools:
          type: array
          description: >-
            The advanced agent accepts either `compute` or `research` tools <Note> Compute allows your agent to use a Python code interpreter for tasks such as data analysis, mathematical calculations, and plot generation.<br><br> Research iteratively searches the web, analyzes the results, and stops when finished. It then provides a comprehensive report to your agent with current, cited information.</Note>
          items:
            oneOf:
              - $ref: "#/components/schemas/ComputeTool"
              - $ref: "#/components/schemas/ResearchTool"
            discriminator:
              propertyName: type
              mapping:
                compute: "#/components/schemas/ComputeTool"
                research: "#/components/schemas/ResearchTool"
        verbosity:
          $ref: "#/components/schemas/Verbosity"
        workflow_config:
          type: object
          required:
            - max_workflow_steps
          description: Defines the maximum number of steps the agent uses in its workflow plan to answer your query. Higher values allow for more tool calls, but it takes longer for the agent to provide the response. For instance, setting max_workflow_steps=5 could allow the agent to call the research tool 3 times and the compute tool 2 times.
          properties:
            max_workflow_steps:
              type: integer
              example: 10
              default: 10
              minimum: 1
              maximum: 20
    CustomAgentRunsRequest:
      type: object
      required:
        - agent
        - input
      properties:
        agent:
          type: string
          description: >-
            Set the value to a Custom Agent's ID. Learn how to obtain an agent ID here [Create Custom Agents](https://docs.you.com/agents/custom/create-agents).
          example: 63773261-b4de-4d8f-9dfd-cff206a5cb51
        input:
          type: string
          description: "The question you'd like to ask the agent"
          example: "What are some insights about my data?"
        stream:
          type: boolean
          default: false
          description: >-
            Must be set to `true` when you want to stream the agent response as it's being generated, and `false` when you want the response to return after the agent has finished.
    # TOOL SCHEMAS
    WebSearchTool:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          const: web_search
          description: Setting this value to "web_search" is mandatory to use the web_search tool.
    ComputeTool:
      type: object
      required:
        - type
      properties:
        type:
          type: string
          const: compute
          description: Setting this value to "compute" is mandatory to use the compute agent.
    ResearchTool:
      type: object
      required:
        - type
        - search_effort
        - report_verbosity
      properties:
        type:
          type: string
          const: research
          description: Setting this value to "research" is mandatory to use the research agent.
        search_effort:
          $ref: "#/components/schemas/SearchEffort"
        report_verbosity:
          $ref: "#/components/schemas/ReportVerbosity"
    SearchEffort:
      type: string
      enum:
        - auto
        - low
        - medium
        - high
      description: >-
        This parameter maps to different configurations regarding the depth of research the tool can perform. Its values range from `low`, `medium` to `high`.


        Alternatively, use `auto` mode for a more dynamic search approach, allowing the tool the freedom to adjust its subparameters.
    ReportVerbosity:
      type: string
      enum:
        - medium
        - high
      description: Select whether to receive a medium or high length model response.
    Verbosity:
      type: string
      enum:
        - medium
        - high
      example: medium
      description: >-
        Controls the level of detail provided by the agent's response. Choosing high maps to a long-form report while medium maps to a medium verbosity report that captures most details but is less comprehensive.
    # RESPONSE SCHEMAS
    AgentRunsBatchResponse:
      type: object
      required:
        - agent
        - input
        - output
      properties:
        agent:
          type: string
          description: The id of the agent populated in the request.
          example: express
        mode:
          type: string
          description: The mode of the agent
          example: express
        input:
          type: array
          description: The users access role and question you asked the agent
          items:
            type: object
            required:
              - role
              - content
            properties:
              role:
                type: string
                description: The access based role of the user
                enum:
                  - user
                example: user
              content:
                type: string
                description: The question populated in the request payload
                example: What is the capital of France?
        output:
          type: array
          description: Array of response outputs from the agent
          items:
            $ref: "#/components/schemas/AgentRunsResponseOutput"
    AgentRunsResponseOutput:
      type: object
      description: The response populated by the agent.
      required:
        - type
      properties:
        text:
          type: string
          description: >-
            The text response of the agent. This field returns when `type == message.answer`. The response returns as markdown formatted text.


            For an overview of Markdown syntax, see the [Basic Syntax Markdown Guide](https://www.markdownguide.org/basic-syntax/)
          example: "#### Capital of France\n\nThe capital of France is **Paris**. It is not only the capital but also the most populous city in the country. Paris is situated on the Seine River in the northern part of France, within the Île-de-France region. It serves as the main cultural, economic, and political center of France [[1]](https://www.coe.int/en/web/interculturalcities/paris)[[2]](https://en.wikipedia.org/wiki/Paris)."
        type:
          type: string
          description: >-
            The type of output. This can either be:

            * `message.answer` for text responses

            * `web_search.results` for output that contains web links. `web_search.results` only appear when you use the `research` tool or express agent with web_search
          example: "web_search.results"
          enum:
            - message.answer
            - web_search.results
        content:
          type: array
          description: >-
            The text response of the agent.

            This field returns when `type == web_search.results`
          items:
            $ref: "#/components/schemas/AgentRunsResponseWebSearchResult"
    AgentRunsResponseWebSearchResult:
      type: object
      description: The text response of the agent. This field only returns when the type is `web_search.results`
      required:
        - source_type
        - citation_uri
        - title
        - snippet
        - url
      properties:
        source_type:
          type: string
          description: The type of content the agent can return outside a text response
          example: web_search
          const: web_search
        citation_uri:
          type: string
          description: The web search result the agent returned along in its response
          example: "https://www.foodnetwork.com/recipes/photos/30-minute-dinner-recipes"
        provider:
          type: string
          description: "This is currently unused"
          example: null
        title:
          type: string
          description: "The title of the web site returned under url"
          example: "103 Easy 30-Minute Dinner Recipes That Will Save Your Weeknights"
        snippet:
          type: string
          description: "A textual portion of the web site returned under url"
          example: "Apr 11, 2025 ... These quick dinner ideas will help you get a meal on the table in half an hour or less. ... It's a simple recipe ready in under half an hour with ..."
        thumbnail_url:
          type: string
          description: The thumbnail image of the url
          example: "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJTNucjGK8ZqfurwAmyuyhQ-7n7AVZHoJwUqfsqRYuCqlIpMwepNDEE_M&s"
        url:
          type: string
          description: "The web search result the agent returned along in its response"
          example: "https://www.foodnetwork.com/recipes/photos/30-minute-dinner-recipes"
    # STREAMING RESPONSE SCHEMAS
    AgentRunsStreamingResponse:
      type: object
      description: A server-sent event containing stock market update content
      required: [id, event, data]
      properties:
        id:
          type: string
          description: "Sequence number of the SSE event, starts from 0"
        event:
          type: string
          description: "The type of the SSE event"
        data:
          oneOf:
            - $ref: "#/components/schemas/response.created"
            - $ref: "#/components/schemas/response.starting"
            - $ref: "#/components/schemas/response.output_item.added"
            - $ref: "#/components/schemas/response.output_content.full"
            - $ref: "#/components/schemas/response.output_item.done"
            - $ref: "#/components/schemas/response.output_text.delta"
            - $ref: "#/components/schemas/response.done"
    response.created:
      type: object
      description: SSE event signifying the response stream has been created
      required:
        - seq_id
        - type
      properties:
        seq_id:
          type: integer
          example: 0
        type:
          type: string
          const: response.created
          example: response.created
    response.starting:
      type: object
      description: SSE event signifying the response is starting
      required:
        - seq_id
        - type
      properties:
        seq_id:
          type: integer
          example: 1
        type:
          type: string
          const: response.starting
          example: response.starting
    response.output_item.added:
      type: object
      description: SSE event signifying an output item has been added
      required:
        - seq_id
        - type
        - response
      properties:
        seq_id:
          type: integer
          example: 2
        type:
          type: string
          const: response.output_item.added
          example: response.output_item.added
        response:
          type: object
          required:
            - output_index
          properties:
            output_index:
              type: integer
              description: The index of the output item in the response
              example: 0
    response.output_content.full:
      type: object
      required:
        - seq_id
        - type
        - response
      properties:
        seq_id:
          type: integer
          example: 3
        type:
          type: string
          const: response.output_content.full
          example: response.output_content.full
        response:
          type: object
          required:
            - output_index
            - type
            - full
          properties:
            output_index:
              type: integer
              example: 0
            type:
              type: string
              const: web_search.results
              example: web_search.results
            full:
              type: array
              description: Complete web search results
              items:
                $ref: "#/components/schemas/AgentRunsResponseWebSearchResult"
    response.output_item.done:
      type: object
      required:
        - seq_id
        - type
        - response
      properties:
        seq_id:
          type: integer
          example: 4
        type:
          type: string
          const: response.output_item.done
          example: response.output_item.done
        response:
          type: object
          required:
            - output_index
          properties:
            output_index:
              type: integer
              example: 0
    response.output_text.delta:
      type: object
      required:
        - seq_id
        - type
        - response
      properties:
        seq_id:
          type: integer
          example: 6
        type:
          type: string
          const: response.output_text.delta
          example: response.output_text.delta
        response:
          type: object
          required:
            - output_index
            - type
            - delta
          properties:
            output_index:
              type: integer
              example: 1
            type:
              type: string
              const: message.answer
              example: message.answer
            delta:
              type: string
              description: Incremental text content
              example: " Test"
    response.done:
      type: object
      required:
        - seq_id
        - type
        - response
      properties:
        seq_id:
          type: integer
          example: 249
        type:
          type: string
          const: response.done
          example: response.done
        response:
          type: object
          required:
            - run_time_ms
            - finished
          properties:
            run_time_ms:
              type: string
              description: Total runtime in milliseconds
              example: "8.029"
            finished:
              type: boolean
              description: Whether the response is complete
              example: true
    # ERROR RESPONSE SCHEMAS
    AgentRuns400Response:
      type: object
      properties:
        detail:
          type: string
          example: "Invalid or expired API key"
      description: "The message returned by the error"
    AgentRuns401Response:
      type: object
      properties:
        detail:
          type: string
          example: "Invalid or expired API key"
      description: "The message returned by the error"
    AgentRuns422Response:
      type: object
      properties:
        detail:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                example: model_attributes_type
              loc:
                type: array
                items:
                  oneOf:
                    - type: string
                    - type: integer
                example: ["body", "tools", 0]
              msg:
                type: string
                example: Input should be a valid dictionary or object to extract fields from
              input:
                type: string
                example: web_search
            required:
              - type
              - loc
              - msg
              - input
    Freshness:
      type: string
      enum:
        - day
        - week
        - month
        - year
      description: Specifies the freshness of the results to return.
    Country:
      type: string
      enum:
        - "AR"
        - "AU"
        - "AT"
        - "BE"
        - "BR"
        - "CA"
        - "CL"
        - "DK"
        - "FI"
        - "FR"
        - "DE"
        - "HK"
        - "IN"
        - "ID"
        - "IT"
        - "JP"
        - "KR"
        - "MY"
        - "MX"
        - "NL"
        - "NZ"
        - "NO"
        - "CN"
        - "PL"
        - "PT"
        - "PH"
        - "RU"
        - "SA"
        - "ZA"
        - "ES"
        - "SE"
        - "CH"
        - "TW"
        - "TR"
        - "GB"
        - "US"
      description: The country code that determines the geographical focus of the web results.
    Language:
      type: string
      enum:
        - "AR"
        - "EU"
        - "BN"
        - "BG"
        - "CA"
        - "ZH-HANS"
        - "ZH-HANT"
        - "HR"
        - "CS"
        - "DA"
        - "NL"
        - "EN"
        - "EN-GB"
        - "ET"
        - "FI"
        - "FR"
        - "GL"
        - "DE"
        - "EL"
        - "GU"
        - "HE"
        - "HI"
        - "HU"
        - "IS"
        - "IT"
        - "JP"
        - "KN"
        - "KO"
        - "LV"
        - "LT"
        - "MS"
        - "ML"
        - "MR"
        - "NB"
        - "PL"
        - "PT-BR"
        - "PT-PT"
        - "PA"
        - "RO"
        - "RU"
        - "SR"
        - "SK"
        - "SL"
        - "ES"
        - "SV"
        - "TA"
        - "TE"
        - "TH"
        - "TR"
        - "UK"
        - "VI"
      default: "EN"
    SafeSearch:
      type: string
      enum:
        - off
        - moderate
        - strict
      description: Configures the safesearch filter for content moderation. This allows you to decide whether to return NSFW content or not.
    LiveCrawl:
      type: string
      enum:
        - web
        - news
        - all
      description: Indicates which section(s) of search results to livecrawl and return full page content.
    LiveCrawlFormats:
      type: string
      enum:
        - html
        - markdown
      description: Indicates the format of the livecrawled content.
    Contents:
      type: object
      properties:
        html:
          type: string
          description: The HTML content of the page.
        markdown:
          type: string
          description: The Markdown content of the page.
      description: Contents of the page if livecrawl was enabled.
    ContentsFormats:
      type: array
      items:
        type: string
        enum:
          - html
          - markdown
          - metadata
      description: Array of content formats to return. All included formats are returned in the response. Include "metadata" to get JSON-LD and OpenGraph information, if available.
      example: ["html", "markdown"]
    ContentsMetadata:
      type: object
      properties:
        site_name:
          type: string
          description: The OpenGraph site name of the web page.
          nullable: true
          example: "You.com"
        favicon_url:
          type: string
          description: The URL of the favicon of the web page's domain.
          example: "https://api.ydc-index.io/favicon?domain=you.com&size=128"
      description: Metadata about the web page. Only returned when 'metadata' is included in the formats array.
      nullable: true
security:
  - ApiKeyAuth: []
